@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(exp.jpg);
    background-position: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(30, 30, 53);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(151, 151, 246);
    font-size: 1.1rem;
}

.left {
    font-size: 2rem;
}

.left a {
    text-decoration: none;
    color: white;
}

.left a:hover {
    color: rgb(187, 116, 253);
    font-size: 2.2rem;
}


.left a:hover {
    color: rgb(187, 116, 253);
    font-size: 2.2rem;
}
.text   {
    font-size: 1.7rem;
    margin: 21px 200px;
}

.firstSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 16px 46px;
}

.firstSection>div {
    width: 30%;

}
.leftSection .btn{
    padding: 9px 36px;;
    background-color: rgb(106, 10, 106);
    color: white    ;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.leftSection .btn a{
    color: white;
    text-decoration: none;
}

.leftSection .btn a:hover{
    color: red;
}

.leftSection img{
    width: 90%;
}

.leftSection h3{
    padding: 26px 41px;
    font-size: 2rem ;
}

.rightSection{
    padding: 0 10px;
}
.rightSection .btns{
    padding: 9px 36px;;
    background-color: rgb(106, 10, 106);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.rightSection .btns a{
    color: white;
    text-decoration: none;
}

.rightSection .btns a:hover{
    color: red;
}

.rightSection img{
    width: 80%;
}

main hr {
    border: 0;
    background-color: aliceblue;
    height: 1.2px;
    margin: 40px 84px;
}

footer{
    background-color:#0e0e1a;
    
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer>div{
    width: 200px;
}

.footer ul{
    list-style: none;
}

.footer ul a{
    text-decoration: none;
    color: white;
}
footer .copyright{
    text-align: center;
    color: gray;
    padding: 12px 0;
}
.footer h3 a{
    text-decoration: none;
    color: white;
}